<div md-theme="continuumDark" flex layout="column" layout-align="center center">

    <md-content class="feature-panel">

        <div style="height: 15%">
            <div layout layout-align="center center">
                <div class="line" flex></div>
                <div class="text">CONTINUUM</div>
                <div class="line" flex></div>
            </div>
            <div class="vertical-spacer"></div>
            <div>Welcome to Continuum</div>

        </div>
    </md-content>
</div>
