body {
  color: #555;
  background-color: #eaedf2;
  overflow-y: auto;
  overflow-x: hidden;
}
.body-content
{
  background-color: #eaedf2;
}
a, a:hover, a:focus {
  color: #555;

}
.dashboard-tiles
{
  margin-top: 20px;
}

.grid-stack-item-content tile-toolbar {
  cursor: move;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 2;
  font-size: 16px;
  max-height: 32px;
  min-height: 32px;
  height: 32px;
  width: 100%;
  background-color: #F5F5F5;
  padding-left: 5px;
}

.normal-corner{
  background-color:white;

}
.slanted-corner{
  position:relative;
  overflow:hidden;
  background-color:white;
  z-index: 5;
}
.slanted-corner:before {
  content: '';
  position:absolute;
  top: 0; right: 0;
  border-top: 32px solid #eaedf2;
  border-left: 32px solid rgba(0, 0, 0, 0);
  width: 0;
  z-index: 5;
}
.slanted-corner .tile-tb-buttons {
  padding-right: 10px;
}

.slanted-corner .tile-tb-buttons .fa-2x {
  font-size: 1.4em;
}
sbg-header md-toolbar{
  background-color: white;
}
sbg-header md-toolbar .md-icon-button .fa-2x{
  vertical-align: middle;
}
sbg-header md-toolbar .fa-2x{
  color: #1966DA;
}
sbg-header md-toolbar span
{
  color: #7F7F7F;
  font-size: 16px;
  padding-top: 4px;
}
sbg-header md-toolbar .logo-img
{
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
  width: 45px;
}

sbg-header md-toolbar .md-primary span
{
  color: #7F7F7F;
  font-size: 16px;
  vertical-align: middle;
}

sbg-header md-toolbar .md-primary span.sign-out
{
  color: #1966DA;
  font-size: 16px;
  vertical-align: middle;
}
.md-scroll-mask {
  z-index: 0 !important;
}