<form id="loginForm" name="loginForm" novalidate>
    <div layout="row" flex layout-align="center center">
        <div class="layout-content small" flex layout="column" layout-fill>
            <md-content layout-padding>
                <section layout="row" layout-align="center center">
                    <h3 class="md-headline">Welcome to Continuum</h3>
                </section>
                <form name="userForm">
                    <md-input-container>
                        <label>Email</label>
                        <input type="email" id="userName" name="userName" ng-model="ctrl.user.userName" required>

                        <div ng-show="loginForm.$submitted || loginForm.userName.$touched">
                            <div ng-show="loginForm.userName.$error.required">Required</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input id="password" name="password" ng-model="ctrl.user.password" required>

                        <div ng-show="loginForm.$submitted || loginForm.password.$touched">
                            <div ng-show="loginForm.password.$error.required">Required</div>
                        </div>
                    </md-input-container>
                    <section layout="row" layout-align="center center">
                        <md-button class="md-raised" ng-click="loginForm.$valid && ctrl.checkUser(ctrl.user)">Login</md-button>
                    </section>
                </form>
            </md-content>
        </div>
    </div>
</form>