<div md-theme="continuumDark" layout="column" flex layout-align="start center">
    <!--<img src="images/logo.png" style="max-width:300px; max-height:300px;"/>-->

    <div class="layout-content" layout="row" layout-fill="" layout-align="center center">
        <md-content class="feature-panel" flex="40" style="position: relative;">
            <img ng-show="ctrl.loading" src="images/loading.gif" style="position: absolute; left: 95px; top: 65px"/>

            <div layout layout-align="center center">
                <div class="line" flex></div>
                <div class="text">GOALS</div>
                <div class="line" flex></div>
            </div>
            <div layout flex layout-align="center center" class="top-spacer">
                View and create goals for your team
            </div>
            <div class="top-spacer"></div>
            <table width="100%">
                <tr>
                    <th>Dimension</th>
                    <th>Capability</th>
                    <th>Notes</th>
                    <th>DueDate</th>
                    <th>Completed</th>
                </tr>
                <tr ng-repeat="goal in ctrl.goals">
                    <td>{{goal.DimensionText}}</td>
                    <td>{{goal.CapabilityText}}</td>
                    <td>{{goal.Notes}}</td>
                    <td>{{goal.DueDate | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <div layout="column" flex>
                            <div layout="column" layout-align="center center">
                                <md-checkbox></md-checkbox>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="top-spacer"></div>
            <md-button id="saveGoal" class="md-raised" ng-click="ctrl.showCreateGoalDialog()"
                       style="font-weight: bold">CREATE GOAL
            </md-button>
        </md-content>
    </div>
</div>