<md-toolbar layout="row" layout-align="start start">
    <div class="logo-img link" ui-sref="home.home"></div>
    <div flex></div>
    <div layout layout-align="start start">
        <md-button class="btn1" ng-click="ctrl.checkAssessmentStatus()">
            <img src="images/menu_assessments_icon.png"/>

            <div>Assessment</div>
        </md-button>
        <md-button class="btn1" ui-sref="home.goals">
            <img src="images/menu_goals_icon.png"/>

            <div>Goals</div>
        </md-button>
        <md-button class="btn1" ui-sref="teamSelection">
            <img src="images/menu_traveller_male_avatar_icon.png"/>

            <div>{{ctrl.team}}</div>
        </md-button>
        <div class="profile-button">
            <md-button class="md-icon-button" aria-label="Sign out" ng-click="ctrl.signOut()">
                <md-icon class="material-icons" md-font-library="material-icons">exit_to_app</md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>