<div md-theme="continuumDark" flex layout="column" layout-align="center center">
    <md-content class="feature-panel" flex="40" style="position: relative;">

        <div style="height: 15%">
            <div layout layout-align="center center">
                <div class="line" flex></div>
                <div class="text">MODERATE ASSESSMENT</div>
                <div class="line" flex></div>
            </div>

            <div layout flex="100">
                <div flex="30" layout layout-align="start">
                </div>
                <div flex="40" layout layout-align="center start" class="top-spacer">
                    <img ng-show="ctrl.loading" src="images/loading.gif"/>
                    <span ng-hide="ctrl.loading">Moderate your teams capabilities</span>
                </div>
                <div flex="30" layout layout-align="end">
                    <div>
                        <md-button id="setOpenStatus" class="md-raised" ng-click="ctrl.setStatus('reopen')"
                                   style="font-weight: bold">Re-open
                        </md-button>
                        <md-button id="setCloseStatus" class="md-raised" ng-click="ctrl.setStatus('close')"
                                   style="font-weight: bold">Close
                        </md-button>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row" flex="80" style="width:100%; height: 60%">
            <div flex layout="row"></div>

            <div id="scoreBlock" layout="row" flex="95">
                <div id="assessmentMessage" ng-hide="ctrl.assessmentMessage.length === 0">{{ctrl.assessmentMessage}}</div>
                <div ng-repeat="dimension in ctrl.assessmentResult" layout="column" layout-align="center center" on-render-complete flex>
                    <div ng-repeat="level in dimension.levels" class="moderateCell link"
                         ng-click="ctrl.setModeratedRating($event, dimension)" layout layout-align="center center"
                         flex moderated-rating="{{ level.Level === dimension.rating ? dimension.rating : 0 }}"
                         rating="{{ level.ResponseCount > 0 ? level.ResponseCount / level.TargetCapabilityCount : 0}}">
                        <div>{{ level.Level }}</div>
                    </div>
                </div>
            </div>
            <div flex layout="row"></div>
        </div>
        <cn-dimension disable-service="true" style="height: 25%" layout layout-align="end end"></cn-dimension>
    </md-content>
</div>