<div layout="column" flex layout-align="center center">
    <img src="images/logo.png" style="max-width:300px; max-height:300px;"/>

    <div class="layout-content" layout="row" layout-fill="" layout-align="center center">
        <md-content  class="form-box md-default-theme" flex="40">
            <div layout="row" layout-align="center center">
                <div class="line" flex></div>
                <div class="text">SIGN IN</div>
                <div class="line" flex></div>
            </div>
            <section>
                <form id="form" name="form" novalidate>
                    <md-input-container>
                        <label>Email</label>
                        <input type="email" id="userName" name="userName" ng-model="ctrl.user.userName" required>
                        <div ng-messages="form.userName.$error.required">
                            <!--<div ng-show="form.$submitted || form.userName.$touched">-->
                                <div ng-message="required">This is required.</div>
                            <!--</div>-->
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input id="password" name="password" ng-model="ctrl.user.password" required>
                        <div ng-messages="form.password.$error.required">
                            <!--<div ng-show="form.$submitted || form.password.$touched">-->
                                <div ng-message="required">This is required.</div>
                            <!--</div>-->
                        </div>
                    </md-input-container>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-raised" ng-click="form.$valid && ctrl.checkUser(ctrl.user)" style="font-weight: bold">SIGN IN</md-button>
                    </div>
                </form>
            </section>
            <section layout layout-align="center">
                <div class="link" ui-sref="forgotPassword">Forgot Password?</div>
            </section>
            <div class="verticalSpacer" layout>
                <div class="line" flex></div>
            </div>
            <section layout>
                <div flex="75">Don't have an account?</div>
                <div class="link" flex="25" ui-sref="register">Sign Up</div>
            </section>
        </md-content>
    </div>
</div>

