<form id="loginForm" name="loginForm"  novalidate>
    <div layout="row" flex layout-align="center center">
        <div class="layout-content small" flex layout="column" layout-fill>
            <md-content layout-padding>
                <section layout="row" layout-align="center center">
                    <h3 class="md-headline">Welcome to Continuum</h3>
                </section>
                <form name="userForm">
                    <md-input-container>
                        <label>Email</label>
                        <input type="email" id="email" name="uMail" ng-model="ctrl.user.email" required>

                        <div ng-show="loginForm.$submitted || loginForm.uMail.$touched">
                            <div ng-show="loginForm.uMail.$error.required">Required</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input id="password" name="uPassword" ng-model="ctrl.user.password" required>

                        <div ng-show="loginForm.$submitted || loginForm.uPassword.$touched">
                            <div ng-show="loginForm.uPassword.$error.required">Required</div>
                        </div>
                    </md-input-container>
                    <section layout="row" layout-align="center center">
                        <md-button class="md-raised" ng-click="ctrl.login(ctrl.user)">Login</md-button>
                    </section>
                </form>
            </md-content>
        </div>
    </div>
</form>
<pre>form = {{ctrl.user | json}}</pre>
<pre>master = {{ctrl.master | json}}</pre>