<div layout="column" flex layout-align="start center">
    <img src="images/logo.png" style="max-width:300px; max-height:300px;"/>

    <div class="layout-content" layout="row" layout-fill="" layout-align="center center">
        <md-content class="form-panel md-default-theme" flex="40" style="position: relative;">
            <img ng-show="ctrl.loading" src="images/loading.gif" style="position: absolute; left: 95px; top: 65px"/>

            <div layout="row" layout-align="center center">
                <div class="line" flex></div>
                <div class="text">SIGN IN</div>
                <div class="line" flex></div>
            </div>
            <form name="ctrl.form" novalidate>
                <md-input-container>
                    <label>Email</label>
                    <input type="email" id="userName" name="userName" ng-model="ctrl.user.userName" required>

                    <div ng-messages="ctrl.form.userName.$error">
                        <div ng-show="ctrl.form.$submitted || ctrl.form.userName.$touched">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="email">Invalid email.</div>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" id="password" name="password" ng-model="ctrl.user.password" required>

                    <div ng-messages="ctrl.form.password.$error">
                        <div ng-show="ctrl.form.$submitted || ctrl.form.password.$touched">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </div>
                </md-input-container>

                <div class="errorMessage" ng-show="ctrl.formInvalid">{{ctrl.errorMessage}}</div>

                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" ng-click="(ctrl.form.$valid) ? ctrl.login(ctrl.user) : ctrl.setTouched()">SIGN IN
                    </md-button>
                </div>
            </form>

            <div class="top-spacer"></div>
            <section layout layout-align="center">
                <div class="link" ui-sref="forgotPassword">Forgot Password?</div>
            </section>
            <div class="vertical-spacer" layout>
                <div class="line" flex></div>
            </div>
            <section layout>
                <div flex="65">Don't have an account?</div>
                <div class="link" flex ui-sref="register">Sign Up</div>
            </section>
        </md-content>
    </div>
</div>

